*{
    --font-2: "Quicksand", sans-serif;
    --font-1: "Playwrite It Moderna", sans-serif;
    --color-1: #515F08;
    --color-2: #F8FFD0;
    --color-3: #323A0D;
}

@keyframes rotar{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

@keyframes rotar2{
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

@keyframes salto{
    0%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-20%);
    }
}

.navbar{
    background-color: var(--color-2);
}

.navbar li a{
    color: var(--color-1);
    font-family: var(--font-1);
    border-bottom: 3px solid var(--color-2);
}

.navbar li a:hover{
    border-bottom: 3px solid var(--color-1);
    transform: scale(1.1);
    color: var(--color-1);
    transition: all 0.3s;
}

.navbar li a:focus{
    border-bottom: 3px solid var(--color-1);
    transform: scale(1.1);
    color: var(--color-1);
}

.navbar-toggler{
    --bs-navbar-toggler-border-color: var(--color-2);
}

.navbar-toggler-icon{
    background-color: var(--color-2);
}

.nav-item img{
    width: 30px;
}

.contenedor-titulo{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.contenedor-titulo h1{
    color: var(--color-2);
    font-family: var(--font-1);
}

.contenedor-titulo p{
    color: var(--color-2);
    font-family: var(--font-2);
}

p, label{
    font-family: var(--font-2);
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(./src/img/background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.plantas h2, .cuidados h2, .eleccion h2, #formulario h2, #videoExplicativo h2{
    color: var(--color-1);
    font-family: var(--font-1);
    animation: salto 2s infinite;
}

h3{
    font-family: var(--font-1);
}

.card-body h3, .card-body p{
    color: var(--color-1);
}

.card-body{
    background-color: var(--color-2);
}

#formulario{
    color: var(--color-1);
}

button{
    background-color: var(--color-1);
    color: var(--color-2);
}

.accordion-item button{
    --bs-accordion-btn-bg: var(--color-2);
    --bs-accordion-active-bg: var(--color-1);
    --bs-accordion-btn-color: var(--color-3);
    --bs-accordion-active-color: var(--color-2);
}

.accordion-body p, footer p{
    color: var(--color-1);
}

footer{
    background-color: var(--color-2);
}

.img-container h3{
    background-color: var(--color-2);
    color: var(--color-1);
}

.plantasTexto{
    background-color: var(--color-2);
    text-decoration: none;
    color: var(--color-1);
    font-weight: 600;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
}

.contenedorPlantas:hover{
    .plantasTexto{
        height: 100%;
        opacity: 1;
    }
}

.imagen-acordeon{
    animation: rotar 1s infinite;
}

.imagen-acordeon2{
    animation: rotar2 1s infinite;
}

.container-carrusel{
    background-image: url(./src/img/fondocarrusel.svg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 766px) {
    .navbar img{
        height: 50px;
    }
}

@media screen and (min-width: 767px){
    .navbar img{
        height: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .navbar img{
        height: 50px;
    }
}